.three-icons{
    gap: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #e4e8ebcf;
    flex-wrap: wrap;
    padding: 20px;
}
.talk{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
